<h1>User#Registration</h1>
<p>
  <%= @greeting %>, find me in app/views/user_mailer/Registration.html.erb
  this is the link to the canada unique mobile app. Follow the link to create an account
</p>
