<%# [HW] Each comment row gets a unique DOM id so turbo_stream.remove can target it directly %>
<div id="comment-<%= comment.id %>" class="feed-comment">
  <span class="feed-comment__body">
    <strong class="feed-comment__author"><%= comment.user.display_name %></strong>
    <span class="feed-comment__text"><%= comment.text %></span>
  </span>
  <%# Trash icon shown to the comment's author or an admin. MJR %>
  <% if policy(comment).destroy? %>
    <%= button_to photo_comment_path(photo, comment), method: :delete,
        class: "feed-comment__delete", title: "Delete comment" do %>
      <i class="fa-solid fa-trash"></i>
    <% end %>
  <% end %>
</div>
