<%# [HW] Wrapping div carries the id so turbo_stream.replace can swap in a fresh empty form after posting %>
<div id="comment-form-<%= photo.id %>">
  <%= simple_form_for [photo, Comment.new], url: photo_comments_path(photo) do |f| %>
    <div class="feed-comment-form">
      <%= f.input :text, label: false, placeholder: "Add a comment…",
          wrapper: false, input_html: { class: "feed-comment-form__input" } %>
      <%= f.submit "Post", class: "feed-comment-form__submit" %>
    </div>
  <% end %>
</div>
