<h1>Pages#home</h1>

<p>This app has been deployed 🤓</p>
<p>Delete this 💩</p>

<div class="flex-container">
  <div class="flex-item"> <%= link_to "This is pre_canada section", pre_canada_path %> </div>
<br>
  <div class="flex-item">This is in_canada section</div>
<br>
  <div class="flex-item">This is post_canada section</div>
</div>
