<div>
  <h1> "Let's get you ready for Canada" </h1>
  <h2> Your personal countdown </h2>
  <h3> <strong> <%= @countdown %> days </strong> left until departure</h3>
</div>
<br>
<br>
<h2>Your tasks</h2>
<h3>Obligatory tasks</h3>
<%= render 'tasks/task_list', tasks: current_user.tasks.where(obligatory: true) %>
<br>
<h3>Next steps</h3>
<p>Find more information about your new home for the next year to be perfectly prepared for your adventure to come!</p>
<%= render 'tasks/task_list', tasks: current_user.tasks.where(obligatory: false) %>
