<div class="container mt-4">
  <div class="cu-panel">
    <h2 class="cu-panel__title">Edit Caption</h2>
    <%= simple_form_for @photo do |f| %>
      <%= f.input :description, placeholder: "Update your caption..." %>
      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
    <%= link_to "Cancel", in_canada_path, class: "btn btn-outline-secondary ms-2" %>
  </div>
</div>
